<div class="index">
  <div class="container">
    <h1 class="text-center">Here is the list of all our cocktails</h1>
    <div class="row d-flex justify-content-around">
      <% @cocktails.each do |cocktail| %>

        <div class="col-3 card-category">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>

      <% end %>  
    </div>
  </div>
</div>
