// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  margin: 50px 0;
}

.index .container a {
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.show a:hover {
  text-decoration: none;
} 

.show h1 {
  margin: 0;
  padding-top: 180px;
}

.banner {
  height: 400px; 
  color: white;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  position: relative;
}

.cocktails-link {
  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar {
  height: 100px;
  padding: 0 50px;
  box-shadow: 2px 0 10px grey;
}

.cocktail-btn a { 
  padding: 8px;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}
