// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  margin: 50px 0;
}

.index {
  .navbar-lewagon {
    justify-content: space-between;
    background: white;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }

  .search-form-control {
    position: relative;
  }
  
  .search-form-control .btn {
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 8px;
  }
  
  .search-form-control .form-control {
    height: 3.5rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border: 1px solid #E7E7E7;
  }
  
  .search-form-control .form-control:focus {
    border: 1px solid #1EDD88;
    outline: none !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  }  
}

.index .container a {
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.show a:hover {
  text-decoration: none;
} 

.show h1 {
  margin: 0;
  padding-top: 180px;
}

.show h3 {
  margin: 50px 0;
}

.banner {
  height: 450px; 
  color: white;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  position: relative;
}

.cocktails-link {
  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar {
  height: 100px;
  padding: 0 50px;
  box-shadow: 2px 0 10px grey;
}

.cocktail-btn a { 
  padding: 8px;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.show input, .show textarea, .show select {
  border-radius: 8px;
}

.show input[type=submit] {
  border-radius: 50px;
  padding: 12px 20px;
  &:hover {
    background-color: white;
    border-color: #0466da;
    color: #0466da;
  }
}

.show .reviews {
  margin-bottom: 50px;;
}

.show .reviews .reviews-content {
  padding-top: 20px;
  padding-left: 100px;
}

.dose-description, .dose-form {
  margin: 0 20px;

}

.doses, .reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .doses, .reviews {
    grid-template-columns: 1fr;
    margin: 0 20px;
  }
  .show .reviews .reviews-content {
    padding-left: 50px;
  }
  .btn {
    width: 100%;
  }
  .navbar {
    display: flex;
    align-items: center;
    height: 250px;
  }
  .navbar a {
    width: 100%;
    text-align: center;
  }
  #navbarSupportedContent {
    display: block;
  }
  #navbarSupportedContent button i {
    float: right;
  }
  .new {
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .doses, .reviews {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .doses, .reviews {
    grid-template-columns: 1fr 1fr;
  }
}
